// Animations

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// hero styling
.hero-wrapper {
  background: url(../../images/hero-background.svg) no-repeat center center;
  background-size: cover;
  height: 100vh;

  width: 100%;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-container {
    font-family: "Montserrat", sans-serif;
    padding: 15rem 10rem;
    max-width: 80rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;

    img {
      width: 50rem;
      animation: slide-down 1s ease 0.5s;
    }

    h1 {
      font-size: 2.2rem;
      font-weight: 500;
      margin: 1.5rem 0;
      letter-spacing: 0.2rem;

      transform: translateX(100%) translateY(-50%);
      white-space: nowrap;
      animation: slide-left 1s ease;
      animation-fill-mode: forwards;
    }

    h3 {
      font-size: 1.6rem;
      font-weight: 300;
      margin: 1.5rem 0;
      letter-spacing: 0.1rem;
      opacity: 0;
      animation: fade-in 5s ease;
      animation-fill-mode: forwards;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    button {
      background: transparent;
      border: #7d0323 0.2rem solid;
      border-radius: 25rem;
      color: #7d0323;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 2rem;
      padding: 1.2rem 2rem;
    }

    button:hover {
      animation: shake 0.5s;
    }
    @keyframes shake {
      0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-0.5rem);
      }
      50% {
        transform: translateX(0.5rem);
      }
      75% {
        transform: translateX(-0.5rem);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}

@media (max-width: 768px) {
  .hero-wrapper {
    .container {
      grid-template-columns: 1fr;
    }
    .hero-container {
      padding: 7rem 2rem 0 2rem;
      text-align: center;
      align-items: center;
      gap: 1rem;

      img {
        margin-top: 3rem;
        width: 30rem;
        margin-bottom: 2rem;
      }

      h1 {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }

      h3 {
        font-size: 1.4rem;
      }
    }
  }
}

/*.hero-wrapper {
    .container {
      grid-template-columns: 1fr;
    }
    .hero-container {
      padding: 5rem;
      text-align: center;
      align-items: center;
      gap: 1rem;

      img {
        margin-top: 3rem;
        width: 30rem;
        margin-bottom: 2rem;
      }

      h1 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }

      h3 {
        font-size: 1.4rem;
      }
    }
  }*/
