.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  //margin-top: 20px;

  input {
    width: 30rem;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    border: none;
    background-color: #202020;
    border-radius: 30px;
    outline: none;
    transition: all 0.2s ease-in-out;

    &::placeholder {
      color: #999;
    }

    &:hover {
      background-color: #4f4f4f;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    }
  }
}
