//variables
$margin-center: 0 auto;

main {
  margin: $margin-center;
  max-width: 1600px;
  padding: 2rem;

  .top-content {
    margin: 3rem auto;
    max-width: 350px;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 25rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.card-container {
  padding: 2rem 0;

  //MEDIA QUERIES// RESPONSIVE
  @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  @media only screen and (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
