.genre-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  //margin-top: 20px;

  select {
    width: 30rem;
    max-width: 100%;

    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 1rem 2rem;
    border: none;
    background-color: #202020;
    border-radius: 30px;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #4f4f4f;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    }

    option {
      font-size: 16px;
      font-weight: 500;
      color: #202020;
      background-color: white;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #f2f2f2;
      }

      &:focus {
        background-color: #f2f2f2;
      }
    }
  }
}
