header {
  width: 100%;
  background-color: #000;
}

.header-container {
  margin: 0 auto;
  height: 7rem;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
}

.nav-link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  gap: 1rem;

  &:hover {
    color: #7d0323; //need to change for another color
    transition: all 0.3s ease-in-out;
  }

  img {
    width: 25%;

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }
  }
  //transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 0 2rem;
  }
}
