//Variables
$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #7d0323;

.card {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  .card-title {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

a {
  text-decoration: none;
  color: $primary-color;
}

.card:hover > .card-header > img {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.card-header {
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    max-height: 300px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: top;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: $secondary-color;

  button {
    border: $primary-color solid 1px;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
    color: $primary-color;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $tertiary-color;
      border: $tertiary-color solid 1px;
    }
  }
}
